*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin-top: 0%;
}
.logo{
    margin-left: -20px;
     margin-top: -20px;
     width: 100px;
     padding: 5px;
     cursor: pointer;
 }
 .container{
    position: absolute;
 }
 /* #header{
    height: 100vh;
    /* background-image: url(image10.jpg); */
    /* background-position: center;
    background-size:  cover;
} */ */
a{
    font-size: larger;
}
#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 3px;
    z-index: 2;
    cursor: pointer;
    background-color: #343130 ;
}
#menuBtn:hover{
    background-color: red;
    
}
#sidenav{
    padding: 5px;
    width: 250;
    height: 100vh;
    position: fixed;
    right :-250px;
    left: 10;
    top: 0;
    background: #e3431b;
    z-index: 2;
    margin-left: auto;
    transition: 0.5s;
    align-items: center;
    color: aliceblue;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    align-items: center;
    text-decoration: none;
    color: rgb(136, 225, 225);
    text-size-adjust: 45px;
}
#sidenav ul li a:hover{
    background-color: rgb(49, 55, 50);
    color: aqua;
}
a{
    font-size: larger;
}
.icons img{
    background-color: rgb(79, 75, 75);
    cursor: pointer;
    width: 45px;
 }
 .icons img:hover{
    background-color: rgb(105, 157, 157);
 }
 footer{
    background-color:#dc4545;
    color:#333;
    text-align: center;
    padding: 15px;
    margin-bottom: 0%;
    font-size: 20px;
}
.hero{
      height: 100vh;
      background-image: linear-gradient(rgba(0,0,0,0.7), #3551b5), url(contactimg.jpeg);
      background-position: center;
      background-size:  cover;
      display: flex;
      align-items: center;
      justify-content: center;
}
form{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative; 
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute; 
    left:0;
    top:0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
button{
    padding: 10px 0;
    color:#fff;
    outline: none;
    background:  transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}
button:hover{
    background-color: rgb(92, 161, 161);
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group{
flex-basis: 48%;

}
